In [27]:
a = 1.0

In [5]:
a

1.0

In [6]:
type(a)

float

In [39]:
b = '32'

In [40]:
type(b)

str

In [41]:
id(b)

140454958964912

In [12]:
ord(b)

51

In [13]:
c = "3"

In [17]:
print(type(b))

<class 'str'>

In [16]:
print("Hello world")

Hello world

In [21]:
a = 3

In [25]:
type(print)

builtin_function_or_method

In [22]:
print(a, type(a))

3 <class 'int'>

In [23]:
def sumer():
    print("hello world!")

In [26]:
print("hello world!")

hello world!

In [30]:
sumer()

hello world!

In [31]:
sumer

In [32]:
print("Hello world!")

Hello world!

In [33]:
aa = print

In [37]:
aa('Hello sahil bhai')

Hello sahil bhai

In [45]:
print(type(b))

<class 'str'>

In [47]:
# a = "hello"
a = 'hello' + ' world'
print(a)

hello world

In [83]:
def name_printer(name):
    print("Hello "+name)
    return ("Hello "+name)

In [72]:
var = name_printer('Bhuvan')

Hello Bhuvan

In [73]:
print(name_printer)

<function name_printer at 0x7fbe39746160>

In [74]:
var

'Hello Bhuvan'

In [75]:
variable = print("hi")

hi

In [78]:
print(variable)

None

In [79]:
a = 1
b = 2

In [80]:
print(a+b, a-b, a*b, a/b, a%b)

3 -1 2 0.5 1

In [87]:
def calculator(a, b):
    
    return (a+b), (a-b), (a*b), (a/b), (a%b)

In [90]:
add, sub, mul, div, rem = calculator(100, 59)

In [91]:
print(add, sub, mul, div, rem)

159 41 5900 1.694915254237288 41

In [92]:
def first(name):
    return name
def second(name):
    return name
first_name = first('Abhijeet')
last_name = second('Bhattacharya')

In [99]:
def name(f_n, l_n, name_1, name_2):    
    print(f_n(name_1) + ' ' + l_n(name_2))

In [96]:
print(first_name, last_name)

Abhijeet Bhattacharya

In [95]:
name(first_name, last_name)

Abhijeet Bhattacharya

In [97]:
name(first('Abhijeet'), second('Bhattacharya'))

Abhijeet Bhattacharya

In [100]:
name(first, second, 'Abhijeet', 'Bhattacharya')

Abhijeet Bhattacharya

In [1]:
# If 
# Else
# Elif

In [23]:
integer = 9

In [24]:
integer == 9

True

In [3]:
integer>10

False

In [5]:
if integer < 10:
    print("Hello")
else:
    print("Bye")

Hello

In [7]:
if integer > 10:
    print("Hello")
elif integer > 7:
    print("Hello Hello")
else:
    print("Bye")

Hello Hello

In [34]:
def comp(a, b):
    if a > b:
        print("A is greater")
    elif a == b:
        print("Both numbers equal")
    else:
        print("B is greater")

In [18]:
comp(60, 60)

Both numbers equal

In [30]:
b = input('Enter any number: ')

Enter any number: 6

In [31]:
print(b)
# print(ord(b))

6
54

In [22]:
b == 7

False

In [26]:
print(type(b))

<class 'str'>

In [27]:
int(b) == 7

True

In [28]:
b == 7

False

In [29]:
b = int(b)
b == 7

True

In [41]:
a = int(input())
b = int(input())

5
1

In [42]:
comp(a, b)

A is greater

In [54]:
comp(int(input('Enter 1st number')), int(input('Enter 2nd Number')))

Enter 1st number23
Enter 2nd Number33
B is greater

In [44]:
input

In [47]:
string = input("Enter String")

Enter Strings

In [48]:
string

's'

In [52]:
string > 'z'

False

In [55]:
integer = 10

In [57]:
print(type(str(integer)))

<class 'str'>

In [61]:
print(int(input()))

jkbjv8888 aszcd

ValueError: invalid literal for int() with base 10: 'jkbjv8888 aszcd'

In [62]:
# FOR
# While

In [74]:
for abhijeet in range(5):
    print(abhijeet)

0
1
2
3
4

In [76]:
for i in range(5):
    print(input('Enter number'))

Enter number0
0
Enter number0
0
Enter number0
0
Enter number0
0
Enter number0
0

In [86]:
number_1 = int(input("Enter number: "))
number_2 = int(input("Enter number: "))

Enter number: 5
Enter number: 10

In [87]:
def adder(n, m):
    summer = 0
    for i in range(n, m+1):
        summer += i
        
    print(summer)

In [88]:
adder(number_1, number_2)

45

In [97]:
number_1 = 5
while number_1 <= 10:
    print(number_1)
    number_1 += 1
    print("Number_1 updated -->", number_1)

5
Number_1 updated --> 6
6
Number_1 updated --> 7
7
Number_1 updated --> 8
8
Number_1 updated --> 9
9
Number_1 updated --> 10
10
Number_1 updated --> 11

In [98]:
# break
# Continue

In [101]:
while True:
    integer = int(input("Enter a number"))
    if integer == 9:
        break
    else: 
        print("Wrong number type again")
print("Kuch bhi")

Enter a number1
Wrong number type again
Enter a number2
Wrong number type again
Enter a number3
Wrong number type again
Enter a number4
Wrong number type again
Enter a number9
Kuch bhi

In [104]:
while True:
    while True:
        integer = int(input('Enter a number'))
        if integer == 9:
            break
        else:
            print('Galat number')
    print("Hello")
    break

Enter a number4
Galat number
Enter a number9
Hello

In [107]:
for _ in range(100):
    j = int(input("Enter a number"))
    if j == 7:
        continue
    elif j == 0:
        break
    print(j)

Enter a number1
1
Enter a number2
2
Enter a number3
3
Enter a number7
Enter a number4
4
Enter a number2
2
Enter a number0

In [108]:
integer = 10

In [111]:
if integer != 10:
    print('hello')

In [117]:
integer = 8

In [118]:
print(integer**10)

1073741824

In [120]:
if integer == 10 or integer == 8:
    print("hello")
else:
    print("Bye")

hello

In [122]:
if integer < 10 and integer == 8:
    print("hello")
else:
    print("Bye")

hello

In [132]:
num = 0
while True:
    print(num)
    num+=1
    if num == 10:
        break
    else:
        pass

0
1
2
3
4
5
6
7
8
9

In [138]:
def comp(a):
    if (a%2) == 0:
        print('Even')
    else:
        print('ODD')

In [139]:
comp(11)

ODD