In [27]:
a = 1.0

In [5]:
a

1.0

In [6]:
type(a)

float

In [39]:
b = '32'

In [40]:
type(b)

str

In [41]:
id(b)

140454958964912

In [12]:
ord(b)

51

In [13]:
c = "3"

In [17]:
print(type(b))

<class 'str'>

In [16]:
print("Hello world")

Hello world

In [21]:
a = 3

In [25]:
type(print)

builtin_function_or_method

In [22]:
print(a, type(a))

3 <class 'int'>

In [23]:
def sumer():
    print("hello world!")

In [26]:
print("hello world!")

hello world!

In [30]:
sumer()

hello world!

In [31]:
sumer

In [32]:
print("Hello world!")

Hello world!

In [33]:
aa = print

In [37]:
aa('Hello sahil bhai')

Hello sahil bhai

In [45]:
print(type(b))

<class 'str'>

In [47]:
# a = "hello"
a = 'hello' + ' world'
print(a)

hello world

In [83]:
def name_printer(name):
    print("Hello "+name)
    return ("Hello "+name)

In [72]:
var = name_printer('Bhuvan')

Hello Bhuvan

In [73]:
print(name_printer)

<function name_printer at 0x7fbe39746160>

In [74]:
var

'Hello Bhuvan'

In [75]:
variable = print("hi")

hi

In [78]:
print(variable)

None

In [79]:
a = 1
b = 2

In [80]:
print(a+b, a-b, a*b, a/b, a%b)

3 -1 2 0.5 1

In [87]:
def calculator(a, b):
    
    return (a+b), (a-b), (a*b), (a/b), (a%b)

In [90]:
add, sub, mul, div, rem = calculator(100, 59)

In [91]:
print(add, sub, mul, div, rem)

159 41 5900 1.694915254237288 41

In [92]:
def first(name):
    return name
def second(name):
    return name
first_name = first('Abhijeet')
last_name = second('Bhattacharya')

In [99]:
def name(f_n, l_n, name_1, name_2):    
    print(f_n(name_1) + ' ' + l_n(name_2))

In [96]:
print(first_name, last_name)

Abhijeet Bhattacharya

In [95]:
name(first_name, last_name)

Abhijeet Bhattacharya

In [97]:
name(first('Abhijeet'), second('Bhattacharya'))

Abhijeet Bhattacharya

In [100]:
name(first, second, 'Abhijeet', 'Bhattacharya')

Abhijeet Bhattacharya

In [1]:
# If 
# Else
# Elif

In [23]:
integer = 9

In [24]:
integer == 9

True

In [3]:
integer>10

False

In [5]:
if integer < 10:
    print("Hello")
else:
    print("Bye")

Hello

In [7]:
if integer > 10:
    print("Hello")
elif integer > 7:
    print("Hello Hello")
else:
    print("Bye")

Hello Hello

In [34]:
def comp(a, b):
    if a > b:
        print("A is greater")
    elif a == b:
        print("Both numbers equal")
    else:
        print("B is greater")

In [18]:
comp(60, 60)

Both numbers equal

In [30]:
b = input('Enter any number: ')

Enter any number: 6

In [31]:
print(b)
# print(ord(b))

6
54

In [22]:
b == 7

False

In [26]:
print(type(b))

<class 'str'>

In [27]:
int(b) == 7

True

In [28]:
b == 7

False

In [29]:
b = int(b)
b == 7

True

In [41]:
a = int(input())
b = int(input())

5
1

In [42]:
comp(a, b)

A is greater

In [54]:
comp(int(input('Enter 1st number')), int(input('Enter 2nd Number')))

Enter 1st number23
Enter 2nd Number33
B is greater

In [44]:
input

In [47]:
string = input("Enter String")

Enter Strings

In [48]:
string

's'

In [52]:
string > 'z'

False

In [55]:
integer = 10

In [57]:
print(type(str(integer)))

<class 'str'>

In [61]:
print(int(input()))

jkbjv8888 aszcd

ValueError: invalid literal for int() with base 10: 'jkbjv8888 aszcd'

In [62]:
# FOR
# While

In [74]:
for abhijeet in range(5):
    print(abhijeet)

0
1
2
3
4

In [76]:
for i in range(5):
    print(input('Enter number'))

Enter number0
0
Enter number0
0
Enter number0
0
Enter number0
0
Enter number0
0

In [86]:
number_1 = int(input("Enter number: "))
number_2 = int(input("Enter number: "))

Enter number: 5
Enter number: 10

In [87]:
def adder(n, m):
    summer = 0
    for i in range(n, m+1):
        summer += i
        
    print(summer)

In [88]:
adder(number_1, number_2)

45

In [97]:
number_1 = 5
while number_1 <= 10:
    print(number_1)
    number_1 += 1
    print("Number_1 updated -->", number_1)

5
Number_1 updated --> 6
6
Number_1 updated --> 7
7
Number_1 updated --> 8
8
Number_1 updated --> 9
9
Number_1 updated --> 10
10
Number_1 updated --> 11

In [98]:
# break
# Continue

In [101]:
while True:
    integer = int(input("Enter a number"))
    if integer == 9:
        break
    else: 
        print("Wrong number type again")
print("Kuch bhi")

Enter a number1
Wrong number type again
Enter a number2
Wrong number type again
Enter a number3
Wrong number type again
Enter a number4
Wrong number type again
Enter a number9
Kuch bhi

In [104]:
while True:
    while True:
        integer = int(input('Enter a number'))
        if integer == 9:
            break
        else:
            print('Galat number')
    print("Hello")
    break

Enter a number4
Galat number
Enter a number9
Hello

In [107]:
for _ in range(100):
    j = int(input("Enter a number"))
    if j == 7:
        continue
    elif j == 0:
        break
    print(j)

Enter a number1
1
Enter a number2
2
Enter a number3
3
Enter a number7
Enter a number4
4
Enter a number2
2
Enter a number0

In [108]:
integer = 10

In [111]:
if integer != 10:
    print('hello')

In [117]:
integer = 8

In [118]:
print(integer**10)

1073741824

In [120]:
if integer == 10 or integer == 8:
    print("hello")
else:
    print("Bye")

hello

In [122]:
if integer < 10 and integer == 8:
    print("hello")
else:
    print("Bye")

hello

In [132]:
num = 0
while True:
    print(num)
    num+=1
    if num == 10:
        break
    else:
        pass

0
1
2
3
4
5
6
7
8
9

In [138]:
def comp(a):
    if (a%2) == 0:
        print('Even')
    else:
        print('ODD')

In [139]:
comp(11)

ODD

In [4]:
# num = 29
num = int(input("Enter a number: "))

flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 10
10 is not a prime number

In [216]:
# In built Data-structures Python
# 1. Strings
# 2. Lists
# 3. Tupples
# 4. Dictionaries

In [32]:
string = 256
string1 = 256
string2 = 1000000
print(id(string), id(string1))

4377172640 4377172640

In [21]:
string1 = 10
print(id(string), string, id(string1), string1)

4377172640 256 4377164768 10

In [27]:
print(ord('z'))

122

In [39]:
print("The string1 is {}, string2 is {}, and string3 is {}".format(string, string1, string2))

The string1 is 256, string2 is 256, and string3 is 1000000

In [43]:
type(range(5))

range

In [44]:
print(f"The string1 is {string}, string2 is {string1}, and string3 is {string2}")

The string1 is 256, string2 is 256, and string3 is 1000000

In [47]:
print(f"The input_1 is: {input()}, second input is: {input()} and third is {input()}")

2
3
4
The input_1 is: 2, second input is: 3 and third is 4

In [48]:
num1 = input('Enter 1 number')
num2 = input('Enter second number')
num3 = input('Enter number 3')

Enter 1 number1
Enter second number2
Enter number 34

In [50]:
print(f"Number 1 is: {input('Enter 1 number')}, number 2 is: {input('Enter 2 number')}, number 3 is: {input('Enter 3 number')}")

Enter 1 number1
Enter 2 number2
Enter 3 number3
Number 1 is: 1, number 2 is: 2, number 3 is: 3

In [55]:
del num3

In [57]:
num3

NameError: name 'num3' is not defined

In [64]:
if input("Enter string") == "yes":
    print("Authenticated")
else:
    print("Not authenticated")

Enter string   ye s
Not authenticated

In [67]:
inp = input("Enter String: ")
print(inp)
print(inp.strip())

Enter String:      yes
     yes
yes

In [77]:
inp = input("Enter String: ")
if inp.strip() == 'yes' or inp == 'YES':
    print("Authenticated")
else: 
    print("Not authenticated")

Enter String: YeS
Not authenticated

In [70]:
print(input().strip())

Abhijeet Bhattacharya
Abhijeet Bhattacharya

In [84]:
string = "Abhijeet Bhattacharya"
print(string.split())

['Abhijeet', 'Bhattacharya']

In [83]:
print(print())

None

In [98]:
string = "the_man_is_sleeping_on_the_bench"
print(string.split("_"), string.count("e"))

['the', 'man', 'is', 'sleeping', 'on', 'the', 'bench'] 5

In [87]:
print(string.replace("e", "b"))

thb_man_is_slbbping_on_thb_bbnch

In [88]:
string

'the_man_is_sleeping_on_the_bench'

In [89]:
string = string.replace("e", "b")

In [90]:
string

'thb_man_is_slbbping_on_thb_bbnch'

In [97]:
while 1:
    inp = input('Enter a number')
    if inp.strip() == 'Hello' or inp.split()[0]=='Hello':
        print("Authenticated")
        break
    else:
        print("Not authenticated")

Enter a number   Hello  j
Authenticated

In [112]:
s = 'The dog is sleeping'
print(s.lower())
print(s.upper())
print(chr(ord('b')-32), chr(98))

the dog is sleeping
THE DOG IS SLEEPING
B b

LISTS

In [141]:
students = ['a', 'b', 'c', 1, 2, 3.44, range(2, 7), [1, 2]]

In [137]:
print(type(students[7]))

<class 'list'>

In [139]:
students[6]

In [142]:
print(students)

['a', 'b', 'c', 1, 2, 3.44, range(2, 7), [1, 2]]

In [143]:
students.append("hi")
print(students)

['a', 'b', 'c', 1, 2, 3.44, range(2, 7), [1, 2], 'hi']

In [157]:
students.insert(0, "Hi")

In [147]:
print(students)

['Hi', 'a', 'Hi', 'b', 'c', 1, 2, 3.44, range(2, 7), [1, 2], 'hi']

In [154]:
print(students.pop(1))

Hi

In [158]:
students

['Hi', 'a', 'c', 1, 2, 3.44, range(2, 7), [1, 2]]

In [159]:
students.remove("Hi")

In [160]:
students

['a', 'c', 1, 2, 3.44, range(2, 7), [1, 2]]

In [161]:
last = students.pop()
print(last)

[1, 2]

In [162]:
last[0]

1

In [163]:
students

['a', 'c', 1, 2, 3.44, range(2, 7)]

In [187]:
arr = [1,2,3,4,65,2425,354, 4557]
arr.reverse()
print(arr)
print(sorted(arr, reverse=True))

[4557, 354, 2425, 65, 4, 3, 2, 1]
[4557, 2425, 354, 65, 4, 3, 2, 1]

In [189]:
students
students.reverse()
print(students)

[range(2, 7), 3.44, 2, 1, 'c', 'a']

Tupples

In [199]:
tup = (1,2,3,4,5, 4.5, 'f')

In [200]:
type(tup)

tuple

In [201]:
print(tup[0])

1

In [203]:
range(3, 9)

range(3, 9)

In [210]:
tup

(1, 2, 3, 4, 5, 4.5, 'f')

In [211]:
tup = list(tup)
tup[0] = 10
tup = tuple(tup)
print(tup)

(10, 2, 3, 4, 5, 4.5, 'f')

In [212]:
for i in tup:
    print(i)

10
2
3
4
5
4.5
f

In [213]:
def adder(a, b):
    return (a, b)

In [215]:
type(adder(1, 2))

tuple

Dictionaries

In [239]:
a = {
    'a':'first alphabet in oxford dictionary',
    'b':'second',
    'c':1,
    'd':[1,2],
    'e':True,
    'f':range,
    'g':{
        'hello':42,
        'hi':77.11
    }
}

In [223]:
print(type(a))

<class 'dict'>

In [224]:
a['a']

'first alphabet in oxford dictionary'

In [231]:
print(a.get('e'))

True

In [242]:
a.items()

dict_items([('a', 'first alphabet in oxford dictionary'), ('b', 'second'), ('c', 1), ('d', [1, 2]), ('e', True), ('f', <class 'range'>), ('g', {'hello': 42, 'hi': 77.11})])

In [240]:
print(a.get('g'))

{'hello': 42, 'hi': 77.11}

In [241]:
a['g']

{'hello': 42, 'hi': 77.11}

In [255]:
values = []
for i in a.items():
    print(i[1])
    if type(i[1]) == dict:
        values.append(i[1].values())
        continue
    values.append(i[1])
print(values)

first alphabet in oxford dictionary
second
1
[1, 2]
True
<class 'range'>
{'hello': 42, 'hi': 77.11}
['first alphabet in oxford dictionary', 'second', 1, [1, 2], True, <class 'range'>, dict_values([42, 77.11])]

In [251]:
a.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [252]:
a.values()

dict_values(['first alphabet in oxford dictionary', 'second', 1, [1, 2], True, <class 'range'>, {'hello': 42, 'hi': 77.11}])