In [4]:
a = ['4', 22, 'abhijeet', 9.99]
print(type(a[3]))

<class 'float'>

In [5]:
print(type(a))

<class 'list'>

In [6]:
a()

TypeError: 'list' object is not callable

In [15]:
def temp(name):
    print('Name is:', name)

In [19]:
print(temp)

<function temp at 0x7faf18c7caf0>

In [48]:
temp('abhijeet')

Name is: abhijeet

In [9]:
name = 'aamir'
age = 25
print(age==29)
if type(age) == int:
    print('True True')

False
True True

In [21]:
hex(id(temp))

'0x7faf18c7caf0'

In [40]:
print(type(age))
print(type(name))
isinstance(range, object)

<class 'int'>
<class 'str'>

True

In [44]:
class Student:
    mentor = 'Abhijeet'
    age = 23

In [45]:
print(type(object))

<class 'type'>

In [49]:
a = Student()

In [52]:
print(a.age)

23

In [53]:
b = Student()

In [55]:
b.mentor

'Abhijeet'

In [10]:
class Person:
    name = 'Abhijeet'
    age = 23
    x = age/2
    
    def hello(self):
        print("Hello name is:", self.name, self.age, self.x)

In [11]:
p = Person()

In [12]:
print(p)

<__main__.Person object at 0x7f885731a070>

In [14]:
p.hello()

Hello name is: Abhijeet 23 11.5

In [82]:
Person().hello()

Hello name is: Abhijeet 23 11.5

In [85]:
class People:
    name = 'Abhijeet'
    age = 23
    x = age/2
    
    def hi(self):
        print("Hello name is:", self.name, self.age, self.x)

In [86]:
q = People()

In [89]:
People().hi()

Hello name is: Abhijeet 23 11.5

In [94]:
type(q)

__main__.People

In [96]:
a = range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [99]:
q.name
ab = People()
print(ab.name)

Abhijeet

In [122]:
# Dunders / Magic Functions

class People:
#     name = 'Abhijeet'
#     age = 23
#     x = age/2
    living = True
    
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
#         print(self.living)
        print("Chal gya")
    
    def hi(self):
        print("Hello name is:", self.name, self.age)

In [123]:
person1 = People('Abhijeet', 23, 180)
person2 = People('Aamir', 25, 170)

Chal gya
Chal gya

In [124]:
People('ab', 22, 130).living

Chal gya

True

In [125]:
person2.name

'Aamir'

In [133]:
print(id(person2.living))
print(id(person1.living))

4341768104
4341768136

In [132]:
person2.living = False
print(person2.living)

False

In [15]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self):
        pass
    
    def details(self, name, roll, age, marks):
        self.name = name
        self.age = age
        self.roll = roll
        self.marks = marks

In [17]:
a = Student()
b = Student()
c = Student()

for i in range(3):
    name = input('Enter name')
    roll = input('Enter roll')
    age = input('Enter age')
    marks = input('Enter marks')
    if i == 0:
        a.details(name, roll, age, marks)
    elif i==1:
        b.details(name, roll, age, marks)
    elif i==2:
        c.details(name, roll, age, marks)

Enter nameAbhijeet
Enter roll001
Enter age23
Enter marks10
Enter nameaamir
Enter roll002
Enter age23
Enter marks11
Enter nameAnkit
Enter roll003
Enter age20
Enter marks13

In [20]:
c.name

'Ankit'

In [27]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self, name, age, roll, marks):
        self.name = name
        self.age = age
        self.roll = roll
        self.marks = marks

In [48]:
a = Student(input('Enter name'), input('Enter age'), input('Enter roll'), input('Enter marks'))

Enter nameAbhijeet
Enter age23
Enter roll001
Enter marks10

In [49]:
b = Student(input('Enter name'), input('Enter age'), input('Enter roll'), input('Enter marks'))

Enter nameAamir
Enter age23
Enter roll002
Enter marks11

In [30]:
print(a.name, b.name, a.mentor, b.mentor, id(a.name), id(b.name), id(a.mentor),id(b.mentor))

Abhijeet aamir Abhijeet Abhijeet 140223564645360 140223564647152 140223553066352 140223553066352

In [33]:
id(Student('a', 'f', 'w', 'g').mentor)==id(b.mentor)

True

In [57]:
def temp(name):
    print('name is ', name)
    return name
a = temp('abhijeet')
b = temp('rohan')
print(a, b)

name is  abhijeet
name is  rohan
abhijeet rohan

In [47]:
print(id(a), id(b))

140223553496560 140223565687280

In [52]:
print(int(b.age) + int(a.age))

46

In [68]:
class Car:
    def __init__(self, m, milage):
        self.model = m
        self.milage = milage
    
    def __str__(self):
        return "{} {}".format(self.model, self.milage)
    
    def __eq__(self, other):
        return int(self.milage) == int(other.milage)
    
    def __add__(self, other):
        return self.milage + other.milage

In [75]:
c1 = Car('BMW', 9)
c2 = Car('Audi', 4)

In [76]:
c1 == c2

False

In [80]:
add = c1+c2
print(add)

13

In [79]:
str(c2)

'Audi 4'

In [93]:
a = 'abhijeet'
b = 'Aamir'
print(f"Names are: {a}, {b}")

Names are: abhijeet, Aamir

In [271]:
class Dog:
#     total_tricks = []
    def __init__(self, name, breed, trick=[]):
        self.name = name
        self.total_tricks = trick
        self.breed = breed
        
    def update_tricks(self, trick):
        self.total_tricks.append(trick)

In [272]:
d = Dog('Coco', 'Labra', trick=[])

In [273]:
d.update_tricks('sit')
d.update_tricks('hello')
d.update_tricks('dance')
d.update_tricks('fetch')

In [274]:
d.total_tricks

['sit', 'hello', 'dance', 'fetch']

In [275]:
d.total_tricks

['sit', 'hello', 'dance', 'fetch']

In [276]:
a = Dog('Puffy', "German Shefard")

In [277]:
a.total_tricks

[]

In [278]:
Dog('a', 'q').total_tricks

[]

In [251]:
def temp(name = 'abhijeet'):
    print("Name is: ", name)

In [264]:
temp()

Name is:  abhijeet

In [280]:
id(d.total_tricks)==id(Dog('a', 'r').total_tricks)

False

In [12]:
class Class1:
    def m(self):
        print("In Class1")

class Class2(Class1):
    pass

class Class3(Class1):
    def m(self):
         print("In Class3")    

class Class4(Class2, Class3):
    print("In class 4")
    pass

obj = Class4()
print("Next")
obj.m()

# Class2.m(obj)
# Class3.m(obj)
# Class1.m(obj)

In class 4
Next
In Class3

In [5]:
def adder(a, b, *args):
    a +=b
    for i in args:
        a += i
    print(a)

In [8]:
adder(1,2,4,9)

16